nav{
  padding: 10px;
}
nav ul{
    display: flex;
    gap: 50px;
    justify-content: end;
    align-items: center;
}
li{
  list-style: none;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  font-weight:500;
}
.link a{
  color: black;
}
.link a:hover{
  text-decoration: underline;
}
#logo{
    margin-right: auto;
    font-family:fantasy;
    font-size: 2rem;
    font-weight: 700;
    background-image: linear-gradient(45deg,rgb(250, 142, 140),black,rgb(250, 142, 140));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
a{
  text-decoration: none;
}