#footer{
    position: relative;
    padding: 10px;
    display: grid;
    gap: 20px;
    place-items: center;
}
#social{
    display: flex;
    align-items: center;
    gap: 100px;
}
a{
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: rgb(124, 48, 3);
}
a:hover{
    text-decoration: underline;
}
p{
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(124, 48, 3);
}

