<div id="footer">
    <div class="rating-stars">
		<input type="radio" name="rating" id="rs0"><label for="rs0"></label>
		<input type="radio" name="rating" id="rs1"><label for="rs1"></label>
		<input type="radio" name="rating" id="rs2"><label for="rs2"></label>
		<input type="radio" name="rating" id="rs3" checked><label for="rs3"></label>
		<input type="radio" name="rating" id="rs4"><label for="rs4"></label>
		<input type="radio" name="rating" id="rs5"><label for="rs5"></label>
		<span class="number"></span>
	</div>
    <div id="social">
        <a href="https://www.facebook.com/profile.php?id=100084341888110" target="_blank">{{link1}}</a>
        <a href="https://instagram.com/shirayuki__dono?igshid=OGQ5ZDc2ODk2ZA==" target="_blank">{{link2}}</a>
        <a href="https://twitter.com/Meriem25957" target="_blank">{{link3}}</a>
        <a href="https://www.linkedin.com/in/meriemboussaid/" target="_blank">{{link4}}</a>
    </div>  
    <p>copyright reserved &copy; 2023</p>
</div>