<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<form id="filter" >
    <input type="text" [(ngModel)]="term" name="term" placeholder="Search for a movie"/>
</form>
<div  *ngFor="let movie of movies | filter: term">
    <div id="card">
        <div>
            <h2>{{movie.name}}</h2>
            <p>{{movie.description}}</p>
            <span>
                <button>WATCH NOW</button>
                <button>DOWNLOAD</button>
            </span>
            
        </div>
        <img src={{movie.image}} alt="">
    </div>
</div>
