#container{
    display: flex;
    place-items: center; 
    position: relative;
    margin: 100px;
    background-color: rgba(248, 217, 180, 0.7);
    border: 3px solid rgb(43, 8, 8);
    border-radius: 5px;
    font-family: fantasy;
    text-align: center;
    padding: 15px;
}
h1{
    letter-spacing: 2px;
}
#second{
    transform:rotateZ(180deg);
    opacity: 1;
}
#container img{
    width: 150px;
}
span{
    background-image: linear-gradient(45deg,rgb(252, 122, 52),rgb(6, 11, 78));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}