<div id="container">
    <img src="../../assets/images/3BTTGEFLID6U.webp" alt="ichigo">
    <div id="content">
        <h1>Welcome to AniSite</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, quidem exercitationem excepturi quae nemo, doloribus non quos nihil cum natus possimus voluptate. Earum magnam alias possimus suscipit quas? Ipsam, ratione.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, quidem exercitationem excepturi quae nemo, doloribus non quos nihil cum natus possimus voluptate. Earum magnam alias possimus suscipit quas? Ipsam, ratione.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, quidem exercitationem excepturi quae nemo, doloribus non quos nihil cum natus possimus voluptate. Earum magnam alias possimus suscipit quas? Ipsam, ratione.</p>
    </div>
    <img id="second" src="../../assets/images/3BTTGEFLID6U.webp" alt="ichigo">
</div>


